---
---

@import "{{ site.theme }}";
footer ul li {
    list-style: none;
    display: inline;
    margin-right: 20px;
    font-size: 20px;
}

/*Link colours*/
a {
  color:#478e4b;
  text-decoration:none;
}

a:hover, a:focus {
  color: #336636;
  font-weight: bold;
}

/*remove bold when hover in footer to avoid text movement*/
footer a:hover {
  font-weight: normal;
}

